.navtext
{
    display: flex;
    align-items: center;
    padding: 0 10px;
    max-width: 1200px;
    margin-right: auto ;
    border-bottom: none;
}
#navbar
{
    font-family:Helvetica, sans-serif;
    width: 80%;
    border-bottom: 3px solid #ad2121;
    align-content: center;
}
#navbar ul a
{
    font-size: 25px;
    display: inline-block;
    color: rgb(53, 53, 53);
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    display: inline-block;
    float: left;
}
#navbar ul a:hover
{
    border-bottom: 2px solid rgb(0, 3, 194);
}
#titel
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75px;
}
#column1
{
    float: left;
    width: 20%;
    padding: 10px;
    height: 1150px;
    background-color: rgb(58, 58, 58);
}
img
{
    border-radius: 10px;
}
#column2
{
    float: left;
    width: 60%;
    padding: 10px;
    height: 1150px;
    background-color: rgb(160, 160, 160);
    text-align: center;
}
#columntext1
{
    color: rgb(210, 210, 210);
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}
#columntext2
{
    color: rgb(54, 54, 54);
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}
#sidebar
{
    width: 20%;
    padding: 10px;
    height: 200px;
}
.button {
    background-color: #434343;
    border: none;
    color: white;
    padding: 500px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
#row
{
    margin: auto;
    width: 60%;
    border: 3px solid #ad2121;
    padding: 10px; 
}
#verene
{
    font-weight: bold;
    font-size: 17px;
    text-align: left;
}
#for
{
    font-weight: bold;
    font-size: 17px;
    text-align: left;
}
#barneskole
{
    font-weight: bold;
    font-size: 17px;
    text-align: left;
}
#ungdomskole
{
    font-weight: bold;
    font-size: 17px;
    text-align: left;
}
#vgs
{
    font-weight: bold;
    font-size: 17px;
    text-align: left;
}